

body {
   background: linear-gradient(to right,  #d6eaf8,#e8daef);
   text-align: center;
   font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
    color:  #4a235a;
   
}
 h2 {
    font-size: 15px;
    color: #633974;
    font-weight: 100;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

 }

 #input {
    width: 250px;
    height: 55px;
    border-radius: 50px;
    background-color:  #f4ecf7;
    box-shadow: #42235a;

 }
 #button {
    width:60px;
    height: 60px;
    border-radius: 50%;
    background-color: #8e44ad80;
    color: #4a235a;
    font-family: "Madimi One", sans-serif;
    transition: ease-in-out 0.3s;
 }
  #button:hover {
    background-color: #b969bd;
    color:#42235a;
     cursor:pointer;

  }
 :placeholder-shown {
    font-size:20px;
    color: #a569bd;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
 }


    footer {
  font-size:12px;
  margin-top: 30px;
  color: #a569bd ;

 }

 #container {
   font-size: 20px;
   text-align: center;
   margin: 50px 50px;
   padding: 50px 50px;
   border-radius: 100px;
   color: #633974;
  

 }