body {
   background: linear-gradient(to left, #ebd88a, #68dcff, #e65ecb);
   text-align: center;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
